* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
        url("../fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Light.woff2") format("woff2"),
        url("../fonts/Poppins-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
        url("../fonts/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
        url("../fonts/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/Poppins-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
body {
    font-family: "Poppins";
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}

#home {
}
#home header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
}
#home header div.left h1 a span {
    display: inline-block;
}
#home header div.left h1 a span img {
    width: 76%;
    display: block;
}
#home header nav.middle ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#home header nav.middle ul li {
    margin-right: 20px;
}
#home header nav.middle ul li a {
    font-size: 16px;
    font-weight: 500;
}
#home header nav.middle ul li a:hover {
    border-bottom: 2px solid #000;
    font-weight: bold;
}
#home header nav.middle ul li:last-child {
    margin-right: 0px;
}
#home header nav.right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-weight: 600; */
}
#home header nav.right ul li {
    margin-right: 20px;
}
#home header nav.right ul li:last-child {
    margin-right: 0px;
}
/* #home header nav.right ul li a {
    font-weight: bold;
} */
#home header nav.right ul li a.button {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 34px;
    font-weight: bold;
}
#spotlight {
    background: url(../Assets/Landing-pic.jpg) no-repeat;
    padding-top: 120px;
    height: 600px;
    background-size: 550px;
    background-position: right 242px bottom 40px;
}
#spotlight section.wrapper section.left {
    margin-left: 40px;
}

#spotlight section.wrapper section.left h2 {
    font-size: 54px;
    width: 35%;
    font-weight: 500;
    line-height: 58px;
    margin-bottom: 38px;
}
#spotlight section.wrapper section.left h4 {
    font-size: 18px;
    font-weight: 500;
    width: 32%;
    margin-bottom: 50px;
}
#spotlight section.wrapper section.left ul {
    display: flex;
    align-items: center;

    justify-content: space-between;
    width: 34%;
}
#spotlight section.wrapper section.left ul li {
}
#spotlight section.wrapper section.left ul li:nth-child(3) {
    width: 16%;
}
#spotlight section.wrapper section.left ul li a {
    font-weight: bold;
}
#spotlight section.wrapper section.left ul li a.button {
    display: inline-block;
    background: black;
    color: #fff;
    padding: 14px 38px;
    border-radius: 3px;
    font-weight: 500;
}
#spotlight section.wrapper section.left ul li a span {
    display: inline-block;
    width: 45px;
}
#spotlight section.wrapper section.left ul li a img.play-button {
    width: 100%;
    display: block;
}
#brands {
    margin-top: 160px;
}
#brands section.wrapper {
}
#brands section.wrapper p {
    font-size: 20px;
    color: gray;
    display: flex;
    justify-content: center;
}
#brands section.wrapper p b {
    color: #000;
}
#brands section.wrapper div.brands ul {
    display: flex;
    justify-content: center;
    margin: 37px 0px 115px 118px;
}
#brands section.wrapper div.brands ul li img {
    margin-right: 100px;
    align-items: center;
    width: 48%;
}
#brands section.wrapper div.brands ul li {
}
#about {
    width: 100%;
    background: #fffcf3;
    position: relative;
    padding: 100px 0px 50px;
}
#about section.wrapper h3 {
    color: gray;
    font-size: 25px;
    font-weight: 500;
}
#about section.wrapper h2 {
    font-size: 38px;
    margin-top: 34px;
    line-height: 58px;
    font-weight: 600;
    width: 44%;
}
#about section.wrapper div.box {
    display: flex;
    justify-content: space-between;
}
#about section.wrapper div.box div.left {
    display: block;
    width: 100%;
}
#about section.wrapper div.box div.left div.image {
    width: 86%;
    margin-top: 40px;
}
#about section.wrapper div.box div.left img {
    /* max-width: 560px;git 
    border-radius: 12px;
    margin-top: 40px;
    margin-right: 40px; */
    display: inline-block;
    width: 100%;
    border-radius: 12px;
}
#about section.wrapper div.box div.right {
    width: 80%;
    display: block;
}
#about section.wrapper div.box div.right p {
    font-size: 19px;
    margin-bottom: 60px;
    font-weight: 500;
}
#about section.wrapper div.box div.right ul {
}

#about section.wrapper div.box div.right ul li {
    line-height: 45px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#about section.wrapper div.box div.right ul li img {
    width: 100%;
    display: block;
}
#about section.wrapper div.box div.right ul li span {
    display: inline-block;
    margin-right: 20px;
    width: 22px;
}
#about section.wrapper div.box div.right div.green-box {
    display: flex;
    justify-content: space-between;
    background: #d5fa52;
    position: absolute;
    align-items: center;
    width: 44%;
    border-radius: 10px;
    height: 16%;
    bottom: 17px;
    left: 671px;
}
#about section.wrapper div.box div.right div.green-box div.item {
    margin: 0 auto;
    border-right: 1px solid #000;
    padding: 20px;
}
#about section.wrapper div.box div.right div.green-box div.item:last-child {
    border: none;
}
#about section.wrapper div.box div.right div.green-box div.item h3 {
    font-size: 48px;
    font-weight: 500;
    color: #000;
    text-align: center;
}
#about section.wrapper div.box div.right div.green-box div.item h5 {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-align: center;
}
#services {
}
#services section.wrapper section.top h3 {
    font-size: 28px;
    color: gray;
    margin-top: 30px;
}
#services section.wrapper section.top h2 {
    font-size: 36px;
    font-weight: 600;
    width: 20%;
    margin-top: 26px;
}
#services section.wrapper section.middle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
}
#services section.wrapper section.middle div.service {
    /* height: 100%; */
    display: block;
    border: 2px solid gray;
    width: 30%;

    margin-bottom: 30px;
    border-radius: 4px;
    padding: 2%;
    transition: transform 500ms;
}
/* #services section.wrapper section.middle div.service div.image1 {
    border: 1px solid black;
    background: #000;
    height: 34%;
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
#services section.wrapper section.middle div.service img.web-development {
    /* border: 1px solid #ffff;
    background: bisque;
    height: 36%;
    width: 14%; */
/* display: flex;
  
    background: white;
    border-radius: 10px;
    width: 25px;
    filter: invert(1);
    height: 34%;
    width: 27%; */
/* display: flex;
    background: white;
    border-radius: 44px;
    width: 27px;
    filter: invert(1);
    width: 30px;
    border: 1px solid #fff;
} */
*/ #services section.wrapper section.middle div.service h2 {
    font-weight: 600;
    margin-top: 10px;

    font-size: 20px;
}
#services section.wrapper section.middle div.service p {
    font-size: 18px;
    margin: 15px 0px 13px 0px;
    font-weight: 500;
}
#services section.wrapper section.middle div.service a {
    margin-bottom: 30px;
}
#services section.wrapper section.middle div.service a.button {
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}
/* #services section.wrapper section.middle:hover div.service {
    display: block;
    border: 2px solid gray;
    width: 30%;
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 2%;
    background: yellowgreen;
} */
#services section.wrapper section.middle div.service:hover {
    background-color: yellowgreen;
    /* width: 28%; */
    display: block;
    transform: translateY(-30px);
}
#services section.wrapper section.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#services section.wrapper section.bottom h4 {
    font-weight: 600;
    font-size: 26px;
    width: 40%;
}
#services section.wrapper section.bottom a {
    width: 24%;
    height: 52px;
}
#services section.wrapper section.bottom a.button {
    display: inline-block;
    background: black;
    color: #fff;
    border-radius: 3px;
    padding: 14px 80px;
    font-weight: bold;
}
#pricing {
    background: #fffcf3;
    height: 100vh;
}
#pricing section.wrapper section.top {
    margin-top: 100px;
}
#pricing section.wrapper section.top h4 {
    color: gray;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
#pricing section.wrapper section.top h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 22px;
}
#pricing section.wrapper section.top div.content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 40%;
    margin-top: 25px;
}
#pricing section.wrapper section.top div.content h4 {
    color: #000;
    font-weight: 500;
    font-size: 17px;
}
#pricing section.wrapper section.top div.content p {
    color: gray;
    font-weight: 500;
    font-size: 17px;
}
#pricing section.wrapper section.top div.content button {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    width: 20%;
    padding: 8px;
    background-color: #f4f405;
    text-align: center;
    border-radius: 16px;
}
#pricing section.wrapper section.top div.plans {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
#pricing section.wrapper section.top div.plans div.basic {
    background: #fff;
    color: grey;
    width: 22%;
    border-radius: 10px;
    padding-bottom: 20px;
}
#pricing section.wrapper section.top div.plans div.professional {
    background: #fff;
    color: grey;
    width: 22%;
    border-radius: 10px;
    padding-bottom: 20px;
}
#pricing section.wrapper section.top div.plans div.ultimate {
    background: #fff;
    color: grey;
    width: 22%;
    border-radius: 10px;
    padding-bottom: 20px;
}

#pricing section.wrapper section.top div.plans h3 {
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    margin-top: 6px;
}
#pricing section.wrapper section.top div.plans div.amount div.amount-per-month {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* margin-left: 20%;
    font-size: 20px; */
}
#pricing
    section.wrapper
    section.top
    div.plans
    div.amount
    div.amount-per-month
    b {
    font-size: 25px;
    font-weight: bold;
}
#pricing section.wrapper section.top div.plans nav {
    margin-top: 5%;
}
#pricing section.wrapper section.top div.plans nav ul {
    list-style: none;
    text-align: center;
}
/* #pricing section.wrapper section.top div.plans nav ul li a img {
    color: #d5fa52;
} */
#pricing section.wrapper section.top div.plans div.offer-percentage button {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    padding: 4px;
    background-color: #d4cece;
    text-align: center;
    margin-left: 26%;
    margin-top: 12%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
#pricing section.wrapper section.top div.plans a.choose-plan button {
    color: #000;
    font-size: 20px;
    width: 90%;
    background-color: gray;
    margin-left: 5%;
    margin-top: 7%;
    padding: 4;
    padding: 5%;
    border-radius: 1px;
}
#pricing section.wrapper section.top div.plans div.basic:hover {
    background: #000;
}
#pricing section.wrapper section.top div.plans div.basic:hover h3 {
    color: #fff;
}
#pricing
    section.wrapper
    section.top
    div.plans
    div.basic:hover
    div.amount
    div.amount-per-month {
    color: #fff;
}
#pricing
    section.wrapper
    section.top
    div.plans
    div.basic:hover
    div.offer-percentage
    button {
    background: #fff;
}
#pricing
    section.wrapper
    section.top
    div.plans
    div.basic:hover
    a.choose-plan
    button {
    background-color: #d5fa52;
}

#pricing section.wrapper section.top div.plans div.professional:hover {
    background: #000;
}
#pricing section.wrapper section.top div.plans div.professional:hover h3 {
    color: #fff;
}
#pricing
    section.wrapper
    section.top
    div.plans
    div.professional:hover
    div.amount
    div.amount-per-month {
    color: #fff;
}
#pricing
    section.wrapper
    section.top
    div.plans
    div.professional:hover
    div.offer-percentage
    button {
    background: #fff;
}
#pricing
    section.wrapper
    section.top
    div.plans
    div.professional:hover
    a.choose-plan
    button {
    background-color: #d5fa52;
}

#pricing section.wrapper section.top div.plans div.ultimate:hover {
    background: #000;
}
#pricing section.wrapper section.top div.plans div.ultimate:hover h3 {
    color: #fff;
}
#pricing
    section.wrapper
    section.top
    div.plans
    div.ultimate:hover
    div.amount
    div.amount-per-month {
    color: #fff;
}
#pricing
    section.wrapper
    section.top
    div.plans
    div.ultimate:hover
    div.offer-percentage
    button {
    background: #fff;
}
#pricing
    section.wrapper
    section.top
    div.plans
    div.ultimate:hover
    a.choose-plan
    button {
    background-color: #d5fa52;
}
#testimonials {
    height: 100vh;
}
#testimonials section.top h3 {
    color: gray;
    margin-top: 145px;
    text-align: center;
    margin-bottom: 25px;
}
#testimonials section.top p {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 115px;
}
#testimonials section.middle {
    display: flex;
    width: 88%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 68px;
}
#testimonials section.middle div {
    margin: 0 auto;
    margin-right: 10px;
}
#testimonials section.middle div ul {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 88px;
    margin-bottom: 70px;
}
#testimonials section.middle div ul li img {
    border-radius: 50%;
    border: 1px solid #d5fa52;
    padding: 9px;
}
#testimonials section.middle div ul li img {
    width: 100%;
    display: block;
}
#testimonials section.middle div ul li h3 {
    font-weight: bold;
}
#testimonials section.middle div ul li p {
    color: grey;
    font-size: 13px;
}
/* #testimonials section.middle div.stripe {
}
#testimonials section.middle div.stripe ul {
    display: flex;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 88px;
    margin-bottom: 70px;
}
#testimonials section.middle div.stripe ul li.stripe-one {
    border-radius: 50%;
    border: 1px solid #d5fa52;
    padding: 9px;
}
#testimonials section.middle div.stripe ul li h3 {
    font-weight: bold;
}
#testimonials section.middle div.stripe ul li p {
    color: grey;
}
#testimonials section.middle div.payoneer {
}
#testimonials section.middle div.payoneer ul {
    display: flex;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 88px;
    margin-bottom: 70px;
}
#testimonials section.middle div.payoneer ul li.payoneer-one {
    border-radius: 50%;
    border: 1px solid #d5fa52;
    padding: 9px;
}
#testimonials section.middle div.payoneer ul li h3 {
    font-weight: bold;
}
#testimonials section.middle div.payoneer ul li p {
    color: grey;
} */
#contact {
    /* height: 100vh; */
    /* display: flex;
    justify-content: space-between; */
    padding-bottom: 40px;
}
#contact section.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#contact section.wrapper section.left span img {
    width: 78%;
    display: inline-block;
    /* height: 30%; */
    margin-top: 63px;
}
#contact section.wrapper section.right div.top h4 {
    color: gray;
    font-size: 24px;
    margin-bottom: 10px;
}
#contact section.wrapper section.right div.top h2 {
    width: 48%;
    font-size: 33px;
    font-weight: 500;
}
#contact section.wrapper section.right div.middle {
    display: flex;

    align-items: center;
    /* justify-content: space-between; */
    margin-top: 10px;
}

#contact section.wrapper section.right div.middle ul {
    margin-right: 96px;
}
#contact section.wrapper section.right div.middle ul li {
    line-height: 33px;
}
#contact section.wrapper section.right div.middle ul li p {
    color: gray;
}
#contact section.wrapper section.right div.bottom h5 {
    font-size: 16px;
    color: gray;
    margin-top: 10px;
}
#contact section.wrapper section.right div.bottom div.details ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
#contact section.wrapper section.right div.bottom div.details ul li {
    border-bottom: 1px solid #000;
    width: 47%;
}
#contact section.wrapper section.right div.bottom div.one {
    margin-top: 10px;
}
#contact section.wrapper section.right div.bottom div.one ul li {
    border-bottom: 1px solid #000;
    width: 100%;
    height: 38px;
}
#contact section.wrapper section.right div.bottom div.one a {
    display: block;
    text-align: right;
    background: black;
    color: #fff;
    border-radius: 3px;
    padding: 15px 45px;
    font-weight: bold;
    margin-left: 60%;
    margin-top: 23px;
}
#contact section.wrapper section.right {
    margin-right: 60px;
}
#community {
    /* height: 100vh; */
    background: #fffcf3;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 124px 0px;
}
#community section.wrapper {
    background: black;
    height: 56%;
    border-radius: 20px;
    margin-top: 100px;
    display: block;
}
#community section.wrapper div.details {
    /* display: block;
    align-items: center; */
    text-align: center;
    /* margin: 0 auto; */
    height: 353px;
    padding: 50px;
}
#community section.wrapper div.details h5 {
    color: white;
    font-size: 18px;
    /* padding-top: 100px; */
}
#community section.wrapper div.details h1 {
    font-weight: 500;
    font-size: 28px;
    color: white;
    margin-top: 10px;
}
#community section.wrapper div.details p {
    color: white;
    font-size: 11px;
    margin-top: 30px;
}
#community section.wrapper div.details form {
    margin-top: 26px;
    display: flex;
    justify-content: center;
}
#community section.wrapper div.details form input {
    border: 1px solid gray;
    color: gray;
    border-radius: 24px;
    padding: 14px 23px;
    font-weight: bold;
    width: 27%;
}
#community section.wrapper div.details form button {
    display: block;
    background: #d5fa52;
    font-weight: bold;
    border-radius: 31px;
    padding: 15px 45px;
    position: absolute;
    margin-left: 162px;
}
/* #footer {
    height: 100vh;
}
#footer section.wrapper {
    display: flex;
    justify-content: space-between;
    /* margin: 0 auto; */
/* align-items: center;
    margin-top: 62px;
}
#footer section.wrapper section.detla ul li h4 a span img {
    /* display: block;
    width: 100%; */
/* }
#footer section.wrapper section.delta ul li h5 {
    font-size: 18px;
    width: 46%;
}
#footer section.wrapper section.detla ul {
}
#footer section.wrapper ul li.h3 h3 {
    font-size: 19px;
    font-weight: 500
} */
footer {
    display: flex;
    justify-content: space-between;
}
footer section.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 34px;
    border-top: 1px solid black;
}
footer section.top div.left span {
    display: inline-block;
    width: 24%;
}
footer section.top div.left span img {
    display: block;
    width: 100%;
}
footer section.top div.left {
    width: 39%;
    line-height: 36px;
}
footer section.top div.left h4 {
    width: 54%;
}

footer section.top div.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-left: 10px;
    gap: 116px;
    line-height: 44px;
}
footer section.top div h3 {
    font-size: 20px;
    font-weight: 600;
}
footer section.top div h5 {
    font-size: 14px;
    font-weight: bold;
}
footer section.top div.right {
    line-height: 56px;
}
footer section.top div.right div.number {
    align-items: center;
    /* margin: 0 auto;
    display: flex;
    justify-content: space-between; */
}
footer section.top div.right div.socialmedia a img {
    margin-right: 29px;
}
footer section.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
footer section.bottom h4 {
    font-weight: 500;
}
footer section.bottom div.last {
    display: flex;
    align-items: center;
}
footer section.bottom div.last p {
    margin-right: 22px;
    font-weight: 500;
}
footer section.bottom div.last p:last-child {
    margin-right: 0px;
}
@media all and (max-width: 1440px) {
    #spotlight {
        background-size: 520px;
        background-position: right 140px bottom 40px;
    }

    #spotlight section.wrapper section.left h2 {
        font-size: 46px;
        width: 35%;
    }
    #spotlight section.wrapper section.left h4 {
        width: 37%;
    }
    #spotlight section.wrapper section.left ul li {
        margin-right: 10px;
    }
    #spotlight section.wrapper section.left ul li a.button {
        padding: 14px 18px;
    }
    #about section.wrapper div.box div.right div.green-box {
        bottom: 1px;
        left: 578px;
    }
    #services section.wrapper section.top h2 {
        width: 27%;
    }
    #services section.wrapper section.bottom a.button {
        padding: 15px 53px;
        width: 19%;
        font-size: 12px;
    }
    #services section.wrapper section.bottom h4 {
        width: 46%;
    }
    #testimonials section.middle {
        width: 107%;
        gap: 93px;
    }
    #contact section.wrapper section.right div.top h2 {
        width: 56%;
        font-size: 37px;
        font-weight: 600;
    }
    #contact section.wrapper section.left span img {
        width: 89%;
        margin-top: 137px;
    }
    #contact section.wrapper section.right {
        margin-right: 5px;
    }
}
